{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">



</head>
<body class="container-fluid">
 <div id="fb-root">

 </div>
 <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3">

 </script>




 <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="{% url 'newsapp:home' %}">isharaNewssite</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newsapp:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newsapp:contactcreate' %}">Contact <span class="sr-only">(current)</span></a>
      </li>
      {% for category in allcats %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newsapp:categorydetail' category.id %}">{{category.title}}</a>
      </li>
      {% endfor %}


      <li class="nav-item dropdown">



        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>


      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



{% block content %}
{% endblock %}
<div class="row">
  <div class="col-md-4">
    <form method="POST" action="{% url 'newsapp:subscriber' %}">
      {% csrf_token %}
      {{subsform.as_p}}
      <button class="btn btn-success">Subscribe us</button>
      
    </form>
    
  </div>
</div>

</body>
</html>
