{%  extends "base.html" %}
{% block content %}


<div class="row">
	<div class="col-md-4 mx-auto">
	<h4>Add new category</h4>
	 <form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-info btn-block">Submit</button>
	
</form>
	</div>
</div>




{% endblock %}