{%  extends "base.html" %}
{% block content %}
<h3 style="text-align: center;">Welcome to Category</h3>

<h3>News under {{categoryobject}}</h3>
{% for news in categoryobject.news_set.all %}
<!-- <h4>{{news.title}}</h4> -->

<h4>Title:{{news.title}}</h4> 

<img src="{{news.image.url}}" width="500">
<a href="{% url 'newsapp:newsdetail' news.id %}">View detail</a>

<!-- <a href="/news/{{news.id}}/newsdetail/"> view detail</a> -->

{% endfor %}

{% endblock %}