{%  extends "base.html" %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<h4>Add new news</h4>
		<form method="POST" enctype="multipart/form-data" action=" " >
			{% csrf_token %}
			{{form.as_p}}
			<button class="btn btn-info btn-block">Submit</button>
			
		</form>
	</div>
	<div class="col-md-6">
		{% for article in allarticles %}
		<div class="row">
			<div class="col-md-6">
				<h4>{{article.title}}</h4>
				<p>{{article.content|safe}}</p>
			</div>
			<div class="col-md-6">
				<img src="{{article.title_photo}}" class="img-fluid" style="height: 100px;">
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}