	{%  extends "base.html" %}
	{% block content %}
	<div class="row">
		<div class="col-md-8">
			{% for category in allcats %}
			<h3>{{category.title}}</h3><hr>
			<div class="row">
				{% for news in category.news_set.all|slice:"6" %}
				<div class="col-md-4">
					<h4>{{news.title}}</h4>
					<img src="{{news.image.url}}" class="img-fluid">
					<p>{{news.content|truncatewords:"15"}}</p>
				</div>
				{% endfor %}
			</div>

			{% endfor %}

		</div>
		<div class="col-md-4">

		</div>
	</div>



	{% endblock %}