	{%  extends "base.html" %}
	{% block content %}


	{% if newsobject.image %}
	<img src="{{newsobject.image.url}}" alt="Avatar" width=550px; >

	<h2><b>{{newsobject.title}}</b></h2>	
	<h4>{{newsobject.content}}</h4>
	<p>Author:{{newsobject.author}}</p>
	<p>Date:{{newsobject.date}}</p>
	<p>viewcount:{{newsobject.view_count}}</p>


	{% endif %}
	{% endblock %}